@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav a:hover {
    transition: all 0.3s ease;
    color: #E09796;
}

.anchor-offset::before {
    content: "";
    display: block;
    height: 80px; /* Altura do cabeçalho fixo */
    margin-top: -80px; /* Altura do cabeçalho fixo */
}